/* gravity forms custom styles */

.gform_wrapper .hidden_label .gfield_label,
.gform_wrapper label.hidden_sub_label,
.gform_wrapper label.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.gform_wrapper li.hidden_label input {
    margin-top: 0px
}

.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select {
    margin-bottom: 12px
}

.gform_wrapper .left_label li.hidden_label input,
.gform_wrapper .right_label li.hidden_label input {
    margin-left: 3.7%
}

.gform_wrapper .hidden_label input.large,
.gform_wrapper .hidden_label select.large,
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large {
    width: 100%
}

.gf_simple_horizontal_wrapper .ginput_complex span {
    padding-top: 0px !important;
}

.gf_simple_horizontal_wrapper .ginput_container,
.gf_simple_horizontal_wrapper input {
    margin-top: 0px !important;
}
