

/* mobile product archive adjustment */
.fl-builder-mobile .products .product {
    margin: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
}

.fl-builder-mobile .woocommerce-ordering {
    float: left;

}